body ,html{
    font-family: Avenir, sans-serif;
    height: 100%;
    margin: 0;
}
body{
    background: #F4F4F4 url('images/CandlesBG.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
#home-container{
    display: grid;
    grid-template-columns: .5fr 1fr 1fr .5fr;
    grid-gap:  10px;
    grid-template-areas: 
        ".left right .";
    height: 100%;
}
#inner {
    grid-area: left;
    align-self: center;
    justify-self:center;
}
#illustration {
    grid-area: right;
    align-self: center;
    justify-self:center;
    width: 80%;
}

img#logo{
    width: 190px;
    margin-bottom: 1.em;
}

h1{
    color: #535353;
    margin-bottom: .2em;
    text-transform: uppercase;
}
p.subtitle{
    font-size: 1.4em;
    color: #858585;
    margin-top: 0;
}
.cta{
    background-color: #09BBE9;
    padding: 1em;
    color: #fff;
    border-radius: 5px;;
    font-weight: bold;
    margin-top: 2em;
    display: inline-block;
    text-decoration: none;
}
#moniter{
    animation: monitorIn 1s ease-in-out forwards;
/*    opacity: 0;*/
}
.crypto-icons{
    position: absolute;
    width: 12%;
}

#dash{
    margin-top: -4%;
    margin-left: 9%;
    animation: chatblips .5s ease-in-out .7s forwards;
    opacity: 0;
    z-index: 2;
}
#eth{
    margin-top: 9.5%;
    margin-left: 18%;
    animation: chatblips .5s ease-in-out .3s forwards;
    opacity: 0;
    z-index: 2;
}
#iota{
    margin-top: 5%;
    margin-left: -1.5%;
    animation: chatblips .5s ease-in-out .3s forwards;
    opacity: 0;
    z-index: 2;
}

@keyframes moniterIn{
    from{
        transform: translateY(-30px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes chatblips{
    0%{
        opacity: 0;
        transform: scale(.3)
    }
    50%{
        opacity: 1;
        transform: scale(1.0);
    }
    70%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
































